.btn1 {
  padding: 10px 20px;
  background-color: lightcoral;
  color: white;
  border: 2px solid green;
}
.btn1:hover {
  background: aquamarine;
}
.btn2 {
  padding: 10px 20px;
  background-color: #8093f0;
  color: white;
  border: 2px solid #090080;
}
.btn2:hover {
  background: #96ff7f;
}
