$bg-color : red;
$color : white;
$font : 50px;

.list{
    list-style: none;
    li{
        display: inline-block;
        background-color: $bg-color;
        padding: 10px 20px;
        a{
            text-decoration: none;
            color: $color;
        }
    }
    :hover{
            background-color: aqua;
        }
}